input{
    padding: 5px;
    display: block;
    margin-bottom: 10px;

}
input.user , input.email:valid{
    color: green;
}
input.user:valid + .para , input.email:valid + .para{
    display: none;
}
/* input.user::after{
    content: "the required user name may be only a series of alphabetic characters";
} */
.para{
    opacity: 0.5;
    font-size: 12px;
}
