body{
    background-color: aqua;
}
#Welcomestyle1{
    text-align: right; 
    color: crimson;
}
#listyle1{
    color:red ;
}
#spanstyle1{
    color: blue;
}
#spanstyle2{
    color: yellow;
}
#fontstyle1{
    font-family: "Times New Roman", Times, serif;
}
#fontstyle2{
    font-family: Arial, Helvetica, sans-serif;
}
#size1{
    font-size: 10px;
}
#size2{
    font-size: 30px;
}
#size3{
    font-size:50px;
}
.nextpage{
    float: right;
}
.toppage{
    float: left;
}
table{
    width: 50%;
    height: 75%;
    margin: auto;
    margin-top: 150px;
    border: solid 10px white;
    border-top: black 10px solid;
    border-left: black 10px solid;
}
#btnSubmit{
    text-align: center;
}