body{
    margin: 0;
    padding: 0;
}
header ul{
    margin: 0;
    background-color: grey;
    display: flex;
    list-style: none;
    justify-content: space-around;
    justify-items: center;
    margin-bottom: 10px;
}
header ul li {
    padding: 1%;
    font-size: 1.5rem ;
}

section{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}
.box1 , .box2 {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}
.box1 .footer , .box2 .footer {
    background-color: grey;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}

@media (max-width : 500px){
    header ul{
        margin: 0;
        background-color: grey;
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style: none;
        margin-bottom: 10px;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
    }
}



