<div style="background-color: beige;">
    <h1>second-component works!</h1>
    <div style="display: flex; justify-content: center;">

        <img [src]="imagePath" style="width:20%; height: 20%;margin-bottom: 50px;" >
        
        
    </div>
    <div style="display: flex; justify-content: center;">
        <button (click)="prev()">prev</button>
        <button (click)="next()">next</button>
        <button (click)="slide()">slide</button>
        <button (click)="stop()">stop</button>
    </div>
</div>
